# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# bundler
/rubocop-highlands/.bundle
.bundle
.config
/rubocop-highlands/vendor/bundle
Gemfile.lock

# rbenv
.ruby-version

# jeweler generated
*.gem
pkg

# etags
TAGS

# logfiles and tempfiles.
/rubocop-highlands/log/*.log
/rubocop-highlands/tmp
.byebug_history
