language: ruby
cache:
  bundler: true
sudo: false
rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
install:
  - cd rubocop-airbnb
  - bundle install
script:
  - bundle exec rspec
  - bundle exec rubocop --config .rubocop.yml

