
# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# bundler
/.bundle
.bundle
.config
/vendor/bundle
Gemfile.lock

# rbenv
.ruby-version

# jeweler generated
*.gem
pkg

# etags
TAGS

# logfiles and tempfiles.
/log/*.log
/tmp
.byebug_history
