# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on: [pull_request, push]

permissions:
  contents: read

defaults:
  run:
    working-directory: rubocop-airbnb

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include: # use bundler 2.3 for ruby versions < 2.6 (https://bundler.io/compatibility.html)
        - ruby-version: '2.6'
          bundler-version: latest
        - ruby-version: '2.7'
          bundler-version: latest
        - ruby-version: '3.0'
          bundler-version: latest
        - ruby-version: '3.1'
          bundler-version: latest
        - ruby-version: '3.3'
          bundler-version: latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@2a9a743e19810b9f3c38060637daf594dbd7b37f # 1.186.0
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler: ${{ matrix.bundler-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
        working-directory: rubocop-airbnb
    - name: Run rspec
      run: bundle exec rspec
    - name: Run rubocop
      run: bundle exec rubocop --config .rubocop.yml --fail-fast -d
